@import "tailwindcss";

.info-section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.info-section-text {
  font-size: 16px;
  color: #444;
  line-height: 1.8;
  margin-bottom: 20px;
}

.info-section-img {
  width: 100%;
  max-height: 380px;
  object-fit: contain;
  border-radius: 12px;
}
